# Visualisatie 2: DataFrames

Naast de Series: een enkelvoudige reeks data, kent pandas ook het DataFrame. Dit is een tabel, meestal in de vorm van een index met een aantal benoemde kolommen.

In dit notebook maken we kennis met DataFrames. We lezen de data in vanuit een csv-bestand. Deze data kunnen we op verschillende manieren in grafieken weergeven. In een volgende notebook gaan we verder in op de mogelijkheden om DataFrames te manipuleren.

We beginnen weer met het import-blok:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline    
## pd.options.display.mpl_style = 'default'

## Plot 1: bar chart

We gebruiken een vergelijkbaar voorbeeld als voor de Series: de aantallen informatica-examens in de verschillende provincies. In dit geval hebben we per jaar een kolom, met de aantallen examens in dat jaar als waarden.

In [ ]:
prov_jaren = pd.DataFrame.from_csv("prov-jaren.csv", header=0)
prov_jaren.head(7)

Je kunt van dit dataframe de index en de kolommen opvragen, met:

* `prov_jaren.index`
* `prov_jaren.columns`

Je kunt een kolom selecteren: dat geeft weer een Series.

```
prov_jaren['2012']
```

**Opdracht**: selecteer het aantal examens in 2013 in Limburg

Vanuit deze tabel kunnen we direct een bar-chart tekenen, met parallelle "bars" voor de opeenvolgende jaren.

* `prov_jaren.plot.bar()`

## Plot: lijngrafiek

We willen als volgende voorbeeld een lijngrafiek tekenen, met als index de jaren, en als lijnen de aantallen per provincie.

### Transpose

We moeten hiervoor de rijen en kolommen omwisselen. Dit gaat erg eenvoudig met *transpose* (`T`). Analyseer eerst de structuur van de tabel `prov_jaren.T`: hoe ziet die tabel eruit; wat is de index, wat zijn de kolommen?

* `prov_jaren.T`
* `prov_jaren.T.index`
* `prov_jaren.T.columns`

Vervolgens kun je hiervan de grafiek tekenen:

* `prov_jaren.T.plot.line()`

De legenda staat nu waarschijnlijk over de grafiek. Deze kun je verplaatsen met de *matplotlib* `legend`-opdracht: 

```python
prov_jaren.T.plot.line()
plt.legend(bbox_to_anchor=(1, 1), loc=2)
```